header {
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    background: #262EA1;
    padding: 10px;
}

.RL-item {
    Width: 100%;
    height: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #95959f;
    transition: background 0.3s;
    font-size: 110%;
    font-weight: bold;
    color: #101661;
    text-decoration: none;
}

.RL-item:hover {
    background-color: #262EA1;
    color:#000000;
}

body {
    background-image: url('../images/Background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.general {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.table {
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 10px;
} 

table, th, td {
    background-color: #95959f;
    border: 3px solid #5d5d63;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.button {
    background: #707077;
    margin: 3%;
    border-radius: 20px;
    font-size: 110%;
    font-weight: bold;
    width: 90%;
    height: 60px;
    padding-left: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    color: #101661;
}

.button:hover {
    background-color: #262EA1;
    color: #000000;
}

.types-item a {
    font-size: 130%;
    font-weight: bold;
    color: #101661;
    text-decoration: none;
}

.main {
    margin: 3%;
}

.title {
    font-weight: bold;
    color: #101661;
    margin: 5%;
}
