header {
    width: 99%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    background: #262EA1;
    padding: 10px;
}

body {
    background-image: url('../images/Background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.general {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.table {
    width: 25%;
    display: flex;
    flex-direction: column;
    padding: 10px;
} 

table, th, td {
    background-color: #95959f;
    border: 3px solid #5d5d63;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.types-item a {
    font-size: 130%;
    font-weight: bold;
    color: #101661;
    text-decoration: none;
}

.main {
    margin: 3%;
}

.title {
    font-weight: bold;
    color: #101661;
    margin: 5%;
}
