header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    background: #262EA1;
    padding: 10px;
}

.search-container input {
    width: 80%;
    height: 25px;
    border-radius: 20px;
    background: #95959f;
    color: #000000;
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 10px;
    gap: 10px;
}

.search-container input::placeholder {
    font-size: 110%;
    font-weight: bold;
    color: #101661;
    font-style: italic;
    opacity: 1; 
}

.searchButton {
    Width: auto;
    height: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #95959f;
    transition: background 0.3s;
    font-size: 110%;
    font-weight: bold;
    color: #101661;
    text-decoration: none;
}

.searchButton:hover {
    background-color: #262EA1;
    color:#000000;
}

.search-results {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.search-result-item {
    width: 270px; 
    background-color: #95959f; 
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center; 
}

.RL-item {
    Width: 50%;
    height: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #95959f;
    transition: background 0.3s;
    font-size: 110%;
    font-weight: bold;
    color: #101661;
    text-decoration: none;
}

.RL-item:hover {
    background-color: #262EA1;
    color:#000000;
}


body {
    background-image: url('../images/Background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.namePage {
    background: #707077;
    margin: 3%;
    border-radius: 20px;
    font-size: 110%;
    font-weight: bold;
    width: 40%;
    padding-left: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

.include {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3%;
}

.info {
    width: 85%;
    background: #707077;
    color: #FFFFFF;
    border-radius: 20px;
    padding: 1%;
    font-size: 110%;
    border: 2px solid black;
}

.order {
    margin-top: 3%;
    width: 85%;
    background: #707077;
    border-radius: 20px;
    padding: 1%;
    font-size: 110%;
    border: 2px solid black;
}

.title {
    margin: 10px;
    font-size: 150%;
    color: #101661;
    display: flex;
    align-items: center;
    justify-content: center;
}

.orderConcret {
    background: #95959f;
    padding: 1%;
    margin: 2%;
    border-radius: 20px;
    border: 2px solid black;
}

.titleorder {
    padding-left: 20px;
    margin: 10px;
    font-size: 120%;
    color: #000000;
}

.includeOrder {
    font-size: larger;
    padding-left: 20px;
    margin: 10px;
    font-size: 120%;
    color: #000000;
}

.button {
    background: #707077;
    margin: 3%;
    border-radius: 20px;
    font-size: 110%;
    font-weight: bold;
    width: 40%;
    height: 80px;
    padding-left: 20px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
}

.button:hover {
    background-color: #262EA1;
    color: #FFFFFF;
}