header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    background: #262EA1;
    padding: 10px;
}

.RL-item {
    Width: 100%;
    height: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #95959f;
    transition: background 0.3s;
    font-size: 110%;
    font-weight: bold;
    color: #101661;
    text-decoration: none;
}

.RL-item:hover {
    background-color: #262EA1;
    color:#000000;
}


body {
    background-image: url('../images/Background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.register {
    background: #95959f;
    padding: 15px;
    width: 50%;
    display: flex;
    margin: auto;
    height: 100%;
    font-size: larger;
    border-radius: 20%;
    font-size: 130%;
    font-weight: bold;
    color: #101661;

}

.form {
    display: flex;
    flex-direction: column;
    margin: auto;
    padding: 10px;
}

.button {
    width: 100%;
    height: 50px;
    font-size: 100%;
    font-weight: bold;
    color: #101661;
    background: #707077;
    border-radius: 20%;
    margin: auto;
}
