/* --- Header --- */
header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    background: #262EA1;
    padding: 10px;
}

.search-container input {
    width: 80%;
    height: 25px;
    border-radius: 20px;
    background: #95959f;
    color: #000000;
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 10px;
    gap: 10px;
}

.search-container input::placeholder {
    font-size: 110%;
    font-weight: bold;
    color: #101661;
    font-style: italic;
    opacity: 1; 
}

.searchButton {
    width: auto;
    height: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #95959f;
    transition: background 0.3s;
    font-size: 110%;
    font-weight: bold;
    color: #101661;
    text-decoration: none;
}

.searchButton:hover {
    background-color: #262EA1;
    color:#000000;
}

.search-results {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.search-result-item {
    width: 270px; 
    background-color: #95959f; 
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    text-align: center; 
}

.RL-item {
    width: 50%;
    height: 50px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #95959f;
    transition: background 0.3s;
    font-size: 110%;
    font-weight: bold;
    color: #101661;
    text-decoration: none;
}

.RL-item:hover {
    background-color: #262EA1;
    color:#000000;
}

body {
    background-image: url('../images/Background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.general {
    margin: 0.15%;
    padding: 0.15%;
    display: flex;
    flex-direction: column;
}

/* --- Блок продукту / фото --- */
.product-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0; /* прибираємо auto, щоб фото було зліва */
    width: auto; /* підлаштовуємо під контент */
}

.product {
    width: 400px; /* розмір фото */
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photoProduct {
    width: 100%;
    border-radius: 20px;
    border: 3px solid black;
}

.carousel-btn {
    background-color: #707077;
    color: #000000;
    border: none;
    padding: 10px 15px;
    font-size: 24px;
    cursor: pointer;
    border-radius: 50%;
    transition: background 0.3s;
    border: 1px solid black;
}

.carousel-btn:hover {
    background-color: #262EA1;
}

/* --- Назва, ціна, доставка --- */
.photoName {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.namePrice {
    display: flex;
    flex-direction: column;
}

.name {
    margin: 5%;
    padding: 5%;
    width: 100%;
    background: #95959f;
    border-radius: 20px;
    font-size: 100%;
    font-weight: bold;
    color: #101661;
    display: flex;
    text-align: center;
    justify-content: center;
    border: 1px solid black;
}

.titleName {
    font-size: 110%;
    font-weight: bold;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0.5%;
}

.price {
    margin: 5%;
    padding: 5%;
    width: 100%;
    background: #95959f;
    border-radius: 20px;
    font-size: 100%;
    font-weight: bold;
    color: #101661;
    display: flex;
    text-align: center;
    justify-content: center;
    border: 1px solid black;
}

.titlePrice {
    font-size: 110%;
    font-weight: bold;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 0.5%;
}

.delivery {
    margin: 5%;
    padding: 5%;
    width: 100%;
    background: #95959f;
    border-radius: 20px;
    color: #101661;
    display: flex;
    text-align: center;
    justify-content: center;
    border: 1px solid black;
}

.titleDelivery {
    font-size: 110%;
    color: #101661;
    font-weight: bold;
}

.list {
    margin: 5px;
    font-size: 100%;
    display: flex;
    text-align: left;
}

.details {
    margin: 10%;
    padding: 2%;
    width: 100%;
    background: #95959f;
    border-radius: 20px;
    font-size: 100%;
    color: #101661;
    border: 1px solid black;
}

.titleDetails {
    font-size: 100%;
    display: flex;
    text-align: center;
    justify-content: center;
    margin: 10px;
}

.listDetails {
    text-align: left;
    font-size: 90%;
}

.discrabe {
    margin: 5px;
    background: #95959f;
    color: #101661;
    border-radius: 20px;
    border: 1px solid black;
}

.titleDescrabe {
    padding: 5px;
    padding-left: 40px;
    margin-bottom: 5px;
    font-size: 110%;
    color: #101661;
}

.text {
    padding: 5px;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 100%;
    margin-bottom: 15px;
    margin-top: 5px;
}

/* --- Footer --- */
.footer {
    width: 100%;
    height: 150px;
    color: #FFFFFF;
    background: #262EA1;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    font-size: larger;
    padding: 10px;
}

.Info {
    margin: 5px;
    font-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
