header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    background: #262EA1;
    padding: 10px;
}

.search-container {
    width: 50%;
    height: 30px;
    border-radius: 20%;
    background: #707077;
    color: #000000;
    display: flex;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.register-login {
    width: 50%;
    height: 50px;
    font-size: 130%;
    color: #000000;
    border-radius: 20%;
    background: #707077;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


body {
    background-image: url('../images/Background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.general {
    display: flex;
    flex-direction: column;
}

.title {
    Width: 25%;
    height: 60px;
    border-radius: 20%;
    display: flex;
    gap: 0.15%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    background: #707077;
    font-size: 110%;
    color: #101661;

}

.dropdown {
    position: relative;
    display: inline-block;
}

.buttonF {
    width: 25%;
    height: 40px;
    font-size: 90%;
    font-weight: bold;
    color: #101661;
    background: #707077;
    border-radius: 20%;
    margin: 5px;
}

.search-field {
    display: none;
    position: absolute;
    background: #95959f;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
}

.dropdown:hover .search-field {
    display: block;
}

.title-search-field {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 110%;
    margin: 0.1%;
    color: #101661;
    font-weight: bolder;
}

.button1 {
    width: 90%;
    height: 100%;
    font-size: 60%;
    font-weight: bold;
    color: #101661;
    background: #707077;
    border-radius: 20%;
    margin: 0.05%;
}

.button {
    width: 90%;
    height: 100%;
    font-size: 90%;
    font-weight: bold;
    color: #101661;
    background: #707077;
    border-radius: 20%;
    margin: 5px;
}

.price-field {
    margin: 0.02%;
    padding: 0.05%;
    font-size: 100%;
    color: #101661;
    ;

}

.name-list {
    margin: 0.02%;
    padding: 0.05%;
    font-size: 100%;
    color: #101661;
}

.list {
    font-size: 90%;
    padding: 0.05%;
    width: 90%;
}

.all-product {
    display: flex;
    flex-direction: column;

}

.position-product {
    display: flex;
    flex-direction: row;
}

.product {
    width: 23%;
    margin: 0.15%;
    padding: 1%;
    background: #707077;
    border-radius: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.photoProduct {
    width: 100%;
    border-radius: 20%;
    border: 3px solid black;
    margin: 0.05%;
}

.name-product {
    background: #FFFFFF;
    color: #000000;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 110%;
    font-weight: bold;
    border-radius: 15%;
    margin: 1%;
}

.price-product {
    background: #FFFFFF;
    color: #000000;
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 110%;
    font-weight: bold;
    border-radius: 15%;
    margin: 1%;
}

.footer {
    width: 100%;
    height: 150px;
    color: #FFFFFF;
    background: #262EA1;
    display: flex;
    flex-direction: row;
    display: grid;
    grid-template-columns: 32% 32% 32%;
    font-size: larger;
    padding: 10px;
}

.Info {
    margin: 5px;
    font-size: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}